<app-main>
  <div id="content" class="url-shortener">
    <form
      [formGroup]="urlForm"
      (ngSubmit)="onSubmit()"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <label for="originalUrl">Enter the url to shorten:</label>
      <input
        nz-input
        id="originalUrl"
        formControlName="originalUrl"
        placeholder="https://example.com"
        nzSize="large"
      />
      @if ( urlForm.get('originalUrl')?.invalid &&
      urlForm.get('originalUrl')?.touched) {
      <div>
        @if (urlForm.get('originalUrl')?.hasError('required')) {
        <p style="color: red">An url is required.</p>
        } @if (urlForm.get('originalUrl')?.hasError('pattern')) {
        <p style="color: red">Please enter a valid URL.</p>
        }
      </div>
      }

      <button
        id="submit-btn"
        nz-button
        nzType="primary"
        [nzSize]="'large'"
        nzShape="round"
        type="submit"
        [disabled]="urlForm.invalid"
      >
        Submit
      </button>
    </form>

    @if (shortenedUrlDto) {
    <div>
      <p>Original URL: {{ shortenedUrlDto.originalUrl }}</p>
      <p>
        Shortened URL:
        <a
          [href]="
            'http://localhost:8080/api/v1/Shortener/' +
            shortenedUrlDto.shortenedUrl
          "
          >{{ shortenedUrlDto.shortenedUrl }}</a
        >
      </p>
    </div>
    } @if (error) {
    <p>{{ error }}</p>
    }
  </div>
</app-main>
