<app-main>
  <div class="url-shortener">
    <form [formGroup]="urlForm" (ngSubmit)="onSubmit()">
      <label for="originalUrl">Enter URL to shorten:</label>
      <input
        id="originalUrl"
        formControlName="originalUrl"
        placeholder="https://example.com"
      />
      @if ( urlForm.get('originalUrl')?.invalid &&
      urlForm.get('originalUrl')?.touched) {
      <div>
        @if (urlForm.get('originalUrl')?.hasError('required')) {
        <small>URL is required.</small>
        } @if (urlForm.get('originalUrl')?.hasError('pattern')) {
        <small>Please enter a valid URL.</small>
        }
      </div>
      }

      <button type="submit" [disabled]="urlForm.invalid">Shorten URL</button>
    </form>

    @if (shortenedUrlDto) {
    <div>
      <p>Original URL: {{ shortenedUrlDto.originalUrl }}</p>
      <p>
        Shortened URL:
        <a [href]="'http://localhost:8080/api/v1/Shortener/'+shortenedUrlDto.shortenedUrl">{{
          shortenedUrlDto.shortenedUrl
        }}</a>
      </p>
    </div>
    } @if (error) {
    <p>{{ error }}</p>
    }
  </div>
</app-main>
