.footer {
  
  padding: 10px 0;
  text-align: center;
  
  .footer-content {
    display: flex;
    justify-content: center;
    gap: 15px;

    a {
      font-size: xx-large;
      color: #595959;

      &:hover {
        color: #1890ff;
      }
    }
  }
}
